problems/P10006.md
problems/P1039.md
problems/P10472.md
problems/P10537.md
problems/P10891.md
problems/P11174.md
problems/P3021.md
problems/P3919.md
problems/P3940.md
problems/P4223.md
problems/P4618.md
problems/P5572.md
problems/P6097.md
problems/P7108.md
problems/P7138.md
problems/P7348.md
problems/P7434.md
problems/P7780.md
problems/P7781.md
problems/P7782.md
problems/P7783.md
problems/P7784.md
problems/P8282.md
problems/P8714.md
problems/P8471.md
